<h2>Materials Search</h2>
<hr>
<ul class="list-group">
  <li routerLink="materials/by-city" class="list-group-item"
    style="cursor: pointer;" routerLinkActive="active">
    Materials by city
  </li>
  <li routerLink="materials/by-type-and-purchasedate" class="list-group-item"
    style="cursor: pointer;" routerLinkActive="active">
    Materials by type and purchase date
  </li>
  <li routerLink="materials/home" class="list-group-item"
    style="cursor: pointer;" routerLinkActive="active">
    All data
  </li>
</ul>
