<h2>Busqueda Materiales</h2>
<hr>
<ul class="list-group mb-3">
  <li routerLink="materials/by-city" class="list-group-item"
    style="cursor: pointer;" routerLinkActive="active">
    ... por ciudad
  </li>
  <li routerLink="materials/by-type-and-purchasedate" class="list-group-item"
    style="cursor: pointer;" routerLinkActive="active">
    ... por tipo y fecha de compra
  </li>
  <li routerLink="materials/home" class="list-group-item"
    style="cursor: pointer;" routerLinkActive="active">
    Todos los materiales
  </li>
</ul>

